.card {
    border: 1px solid #000;
    height: 25rem;
    display: flex;
    justify-content: center;

    .card__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        overflow-y: scroll;
        padding: 1rem;

        &::-webkit-scrollbar { 
            width: 1px;
        }
           
        &::-webkit-scrollbar-thumb {
            background-color: #000;
            outline: 1px solid #000;
        }
        
        .card__image {
            height: 10rem;
        }
    }
}